<footer class="footer">
  <!-- social media -->
  <div class="footer-media">
    <p>Follow Us On:</p>
    <a href="#"><i class="fab fa-facebook"></i></a>
  </div>
  <div class="footer-uen">
    <p>UEN No. 53161636C</p>
  </div>
  <!-- navigation -->
  <nav class="footer-nav">
    <ul class="footer-nav__items">
      <li class="footer-nav__item">
        <a href="/about">About</a>
      </li>
      <li class="footer-nav__item">
        <a href="/contact">Contact Us</a>
      </li>
    </ul>
  </nav>
  <a href="/users/sign_in">Staff</a>
</footer>
