<header class="main-header">
  <div>
    <a href="/" class="main-header__brand">
      <h1>UV400</h1>
      <h2>The Sunglass Store</h2>
    </a>
  </div>
  <nav class="main-nav">
    <ul class="main-nav__items">
      <li class=main-nav__item>
        <a href="/">Home</a>
      </li>
      <li class=main-nav__item>
        <a href="/about">About</a>
      </li>
      <li class=main-nav__item>
        <a href="/items">Products</a>
      </li>
      <li class=main-nav__item>
        <a href="/contact">Contact</a>
      </li>
    </ul>
  </nav>
</header>
