.footer {
  background: black;
  color: white;
  padding: 20px;
  text-align: left;
}

.footer-media {
  display: inline-block;
}

.footer-uen {
  display: inline-block;
  text-align: top;
}

.footer-nav {
  display: inline-block;
}

.footer-nav__item {
  display: inline-block;
  padding: 0 10px;
}

.footer-nav__items a {
  color: white;
}

.footer-nav__items a:hover,
.footer-nav__items a:active {
  text-decoration: none;
  font-weight: 500;
}
