.main-header {
  width: 100%;
  border-bottom: 1px solid #D4D4D4;
  padding: 16px 32px;
}

.main-header > div {
  display: inline-block;
  vertical-align: bottom;
}

.main-header__brand a {
  font-weight: 500;
}

.main-header__brand a:hover {
  text-decoration: none;
}

.main-header__brand > h1 {
  font-size: 48px;
  color: #CB2E2E;
}

.main-header__brand > h2 {
  font-size: 24px;
  color: black;
  margin-bottom: 0;
}

.main-nav {
  display: inline-block;
  text-align: right;
  width: 50%;
  vertical-align: bottom;
}

.main-nav__items {
    margin: 0;
}

.main-nav__item {
  display: inline-block;
}
.main-nav__item a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  font-weight: 700;
}
